<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentTeacherManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.sthirty.student.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.sthirty.student.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageController</display-name>
    <servlet-name>ImageController</servlet-name>
    <servlet-class>com.sthirty.student.controller.ImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageController</servlet-name>
    <url-pattern>/ImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUpdateController</display-name>
    <servlet-name>ProfileUpdateController</servlet-name>
    <servlet-class>com.sthirty.student.controller.ProfileUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdateController</servlet-name>
    <url-pattern>/ProfileUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherRegistrationController</display-name>
    <servlet-name>PublisherRegistrationController</servlet-name>
    <servlet-class>com.sthirty.teacher.controller.PublisherRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherRegistrationController</servlet-name>
    <url-pattern>/PublisherRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherLoginController</display-name>
    <servlet-name>PublisherLoginController</servlet-name>
    <servlet-class>com.sthirty.teacher.controller.PublisherLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherLoginController</servlet-name>
    <url-pattern>/PublisherLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherProfileUpdateController</display-name>
    <servlet-name>PublisherProfileUpdateController</servlet-name>
    <servlet-class>com.sthirty.teacher.controller.PublisherProfileUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherProfileUpdateController</servlet-name>
    <url-pattern>/PublisherProfileUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublisherImageController</display-name>
    <servlet-name>PublisherImageController</servlet-name>
    <servlet-class>com.sthirty.teacher.controller.PublisherImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherImageController</servlet-name>
    <url-pattern>/PublisherImageController</url-pattern>
  </servlet-mapping>
</web-app>